{% load static %}

<html>
<head>
	<title>Digival</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type = "text/javascript">

        switch({{messages}})
        {
            case 1: alert('Unable to recognize any text in the image! Please try again!');
            break;
            case 2: alert('Please Upload an Image!');
            break;
			case 3: alert('Successfully Evaluated!');
			break;
			case 4: alert('Sorry! Test Series not available...Please Upload Question Bank!');
			break;
			case 5: alert('Sorry! Student not found.');
			break;
        }


     function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};



</script>
	<script>

$('#loader').addClass("hide-loader");
$(".container").addClass("hide-container");
$(document).ready(function(){

$("#submitBtn").click(function(){
$("#loader").show();
$(".container").hide();
});
});

if ( {{show }} ){
$("#loader").hide();
$(".container").show();
}

	</script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
</head>
<body  style="background-image:url(/static/images/blue5.jpg);" class="override">
<header>

		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
			</tr>
		</table>
	</header>
<br><br>
	<div class="loader" id="loader" style="display:none"><img src="{% static 'images/loader.gif'%}"></div>
	<div class="container" id="container" >
		<h1 align="center">Evaluation</h1><hr>

		<form action='' method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label><b>Choose Subject</b></label>
			<select name="subject">
				{% for entry in questionBank_subject %}
    				<option value="{{ entry.qp_subject }}">{{ entry.qp_subject }}</option>
				{% endfor %}
			</select>
			<label><b>Choose Test Series</b></label>
			<select name="testseries">
				{% for entry in questionBank_testseries %}
    				<option value="{{ entry.qp_test_series }}">{{ entry.qp_test_series }}</option>
				{% endfor %}
			</select>

			<label><b>Choose Class</b></label>
			<select name="class">
                {% for entry in class %}
    				<option value="{{ entry.qp_class }}">{{ entry.qp_class }}</option>
				{% endfor %}
			</select>

			<p><label><b>Upload Answer Sheet</b></label></p>
			<p><input id = "answer" type="file" name="answer" accept="image/*"></p>

			<label><b>Enter Roll Number</b></label>
			<select name="s_rollno">
                {% for rollno in r_no %}
    				<option value="{{ rollno.s_rollno }}">{{ rollno.s_rollno }}</option>

				{% endfor %}
			</select>
			<hr><center><input class="freeze" type="submit" value='Evaluate' id="submitBtn" style="background-color:#5680e9;color:white;"></center>



		</form>
		<center><a  href="{% url 'recognition:homepage' %}"><button id="backBtn" style="background-color:#5680e9;color:white;">Back</button></a> </center>

	</div>
<br><br><br><br>
<footer>
		<hr>
		<p>
			<b>Contact Information</b>
			<table cellspacing="10px">
				<tr>
					<td><img src="{% static 'images/phone.png' %}" class='headfoot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="{% static 'images/email.png' %}" class="headfoot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>

			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
</body>
</html>