{% load static %}

<html>
<head>
	<title>Digival</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

	<script type = "text/javascript">

        switch({{messages}})
        {
            case 1: alert('Unable to recognize any text in the image! Please try again!');
            break;
            case 2: alert('Please Upload an Image!');
            break;
			case 3: alert('Successfully Evaluated!');

			break;
        }
     function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};

</script>
</head>
<body>
<header>
	<!--function preventBack(){window.history.forward();}-->
    <!--setTimeout("preventBack()", 0);-->
    <!--window.onunload=function(){null};-->
		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
					<td width="150px">
						<a href="{% url 'recognition:login' %}" id="logout">
						<table cellspacing="10pt">
						<tr>
							<td><img src="{% static 'images/user.png' %}" id='user'></td>
							<td><h2 style="color: white;" align="center">Logout</h2></td>
						</tr></table></a>
					</td>
			</tr>
		</table>
	</header>
<br><br>

	<div class="container">
		<h1>Evaluation</h1><hr>
		<form action='' method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label><b>Choose Subject</b></label>
			<select name="subject">
				{% for entry in questionBank_subject %}
    				<option value="{{ entry.qp_subject }}">{{ entry.qp_subject }}</option>
				{% endfor %}
			</select>
			<label><b>Choose Test Series</b></label>
			<select name="testseries">
				{% for entry in questionBank_testseries %}
    				<option value="{{ entry.qp_test_series }}">{{ entry.qp_test_series }}</option>
				{% endfor %}
			</select>

			<label><b>Choose Class</b></label>
			<select name="class">
                {% for entry in class %}
    				<option value="{{ entry.qp_class }}">{{ entry.qp_class }}</option>
				{% endfor %}
			</select>

			<p><label><b>Upload Answer Sheet</b></label></p>
			<p><input id = "answer" type="file" name="answer" accept="image/*"></p>

			<label><b>Enter Roll Number</b></label>
			<select name="s_rollno">
                {% for rollno in r_no %}
    				<option value="{{ rollno.s_rollno }}">{{ rollno.s_rollno }}</option>

				{% endfor %}
			</select>
			<hr><center><input type="submit" value='Evaluate' name="" id="submitBtn"></center>



		</form>
		<center><a class="btn" href="{% url 'recognition:homepage' %}"><button id="backBtn">Back</button></a> </center>

	</div>

<footer>
		<hr>
		<p>
			<b>Contact Information</b>
			<table cellspacing="10px">
				<tr>
					<td><img src="{% static 'images/phone.png' %}" class='headfoot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="{% static 'images/email.png' %}" class="headfoot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>

			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>
</body>
</html>