{% extends "recognition/base.html" %}

{% block content %}
<br><br>
    <div class="container" style=""width="20%">
        <h1 align="center">Reset Password</h1>
    <hr>
        <form action="{% url 'recognition:reset_password' %}" method="post" >
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body" align="center" style="width: 150%">
                        {% if messages %}
                            {% for message in messages %}
                                <p class="bg-danger p-d ml-b">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group clearfix">
                            <label for="email_or_username" class="col-md-4 control-label text-right">Enter Email or Username<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                <input name="email_or_username" value="" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit"style="background-color:#5680e9;color:white;" value="Send Email" class="btn">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="container signin">
    <p><a href="{% url 'recognition:login' %}"><<< Back</a></p>
  </div>
<br><br><br><br>
{% endblock %}



