{ %load static %}
<html>
<head>
<title>Digival</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
</head>
<body>
	<header>
		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
					<td width="150px">
						<table cellspacing="10pt">
						<tr>
							<td><img src="images/user.png" id='user'></td>
							<td><h2 style="color: white;" align="center">Logout</h2></td>
						</tr></table></td>
			</tr>
		</table>
	</header>
	<footer>
		<hr>
		<p>
			Contact Information
			<table cellspacing="10pt">
				<tr>
					<td><img src="images/phone.png" class='head-foot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="images/email.png" class="head-foot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>
			
			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>
</body>
</html>