{% load static %}
<html>
<head>
	<title>Digival - Homepage</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<body>
	<header>
		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
					<td width="150px">
						<a href="{% url 'recognition:login' %}" id="logout">
						<table cellspacing="10pt">
						<tr>
							<td><img src="{% static 'images/user.png' %}" id='user'></td>
							<td><h2 style="color: white;" align="center">Logout</h2></td>
						</tr></table></a>
					</td>
			</tr>
		</table>
	</header>
	<table align="center" cellspacing="10px">
		<tr>
			<td>
				<a href="{% url 'recognition:question' %}"><figure>
					<img src="{% static 'images/scan.jpg' %}" class="content">
					<figcaption style="background-color:black;color:white;">Upload Question Bank</figcaption>
				</figure></a>
			</td>
			<td>
				<a href="{% url 'recognition:evaluate' %}"><figure>
					<img src="{% static 'images/correct.jpeg' %}" class="content">
					<figcaption style="background-color:black;">Evaluation</figcaption>
				</figure></a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'recognition:results' %}"><figure>
					<img src="{% static 'images/graduation.jpg' %}" class="content">
					<figcaption style="background-color:black;">Check Results</figcaption>
				</figure></a>
			</td>
			<td>
				<a href="{% url 'recognition:userprofile' %}"><figure>
					<img src="{% static 'images/Pr.jpeg' %}" class="content">
					<figcaption style="background-color:black;">User Profile</figcaption>
				</figure></a>
			</td>
		</tr>
	</table>
	<footer>
		<hr>
		<p>
			<b>Contact Information</b>
			<table cellspacing="10px">
				<tr>
					<td><img src="{% static 'images/phone.png' %}" class='headfoot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="{% static 'images/email.png' %}" class="headfoot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>
			
			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>
</body>
</html>