<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	body{
		background-image: url('{{ STATIC_URL }}images/question3.jpg');
		 height: 100%; 

  /* Center and scale the image nicely */
  
  background-repeat: no-repeat;
  background-size: cover;
	}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 370px;

  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}
</style>
	<title></title>
</head>
<body style="background-image:url(/static/images/question3.jpg);">

<div class="card">
  <!--img src="/w3images/team2.jpg" alt="John" style="width:100%"--><br>
  <h2 style="color: maroon;">Choose the Question Series</h2>
 
  
  <div style="margin: 24px 0;">
    <form action="">
  <select name="QS">
    <option value="a">Q1</option>
    <option value="b">Q2</option>
    <option value="c">Q3</option>
    <option value="d">Q4</option>
  </select>
  <br><br>
  <input type="submit" style="background-color:black; color: white;outline-color: black;width:150px;"><br><br>
</form>
  </div>
</div>

</body>
</html>