{% load static %}

<html>
<head>
	<title>Digival</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<body>
<header>
		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
					<td width="150px">
						<a href="{% url 'recognition:login' %}" id="logout">
						<table cellspacing="10pt">
						<tr>
							<td><img src="{% static 'images/user.png' %}" id='user'></td>
							<td><h2 style="color: white;" align="center">Logout</h2></td>
						</tr></table></a>
					</td>
			</tr>
		</table>
	</header>
<br><br>
	<div class="container">
		<h1>Upload Question Paper</h1><hr>
       <form action="{% url 'recognition:question' %}" enctype="multipart/form-data" method="post" >
		   {% csrf_token %}
		   {% if error_message %}
		   <p align="center" style="color:red;">{{ error_message }}</p>
		   {% endif %}
			<label><b>Enter Subject</b></label>
			<select name="qp_subject">
				<option value="English">English</option>
				<option value="GK">GK</option>
				<option value="EVS">EVS</option>
			</select>

			<label><b>Enter Test Series</b></label>
			<select name="qp_test_series">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>

			<label><b>Enter Class</b></label>
			<input type="text" name="qp_class" id="cls" value='' required="">


			<p><label><b>Upload Question Paper</b></label></p>
			<p><input id = "answer" type="file" name="question_paper" accept="image/*" required></p>
            <hr>

		    <input type="submit" value='Next' name = 'Next' id="submitBtn"/>
        </form>
    </div>
<footer>
		<hr>
		<p>
			<b>Contact Information</b>
			<table cellspacing="10px">
				<tr>
					<td><img src="{% static 'images/phone.png' %}" class='headfoot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="{% static 'images/email.png' %}" class="headfoot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>

			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>
</body>
</html>