{% extends "recognition/base.html" %}

{% block content %}
    <div class="container">
        <h1 align="center">Reset Password</h1>
    <hr>
        <form action="" method="post" >
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body" align="center" style="width: 150%">
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger p-d ml-b">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group clearfix">
                            <label for="new_password1" class="col-md-4 control-label text-right">New Password<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                <input name="new_password1" value="" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="new_password2" class="col-md-4 control-label text-right">Confirm Password<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                <input name="new_password2" value="" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" id="submitBtn" value="Reset Password" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="container signin">
    <p><a href="{% url 'recognition:login' %}" class="submitBtn" >Sign In</a></p>
  </div>

{% endblock %}



