{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>

   $(document).on("click", ".modalLoginForm", function () {

     var t_name = $(this).data('id1');
     var t_school = $(this).data('id2');
     var t_email = $(this).data('id3');


     $(".modal-body #t_name").val( t_name );
     $(".modal-body #t_school_name").val( t_school );
     $(".modal-body #t_email").val( t_email );

     $('#modalLoginForm').modal('show');
   });


</script>
<style>

/*body{
  background-image: url("images/question1.jpg");
}*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 370px;

  margin: auto;
  text-align: center;
  font-family: arial;
  background-color:  black;
}

.title {
  color: white;
  font-size: 18px;
}

button {

  display: inline-block;

  background-color:#5680e9;
  color: white;
  padding: 16px 20px;
  margin: 20px 0px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.9
  }

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body style="background-image:url(/static/images/blue2.jpg);" class="override">
<header>
		<table width='100%'>
			<tr>
				<td style="color: white;"><p><h1 class='h'>DIGIVAL</h1>
					<h3 class='h'>An Automated Evaluation System</h3></p></td>
			</tr>
		</table>
	</header>

<br><br><br><br>

<div class="card"  style="color:white;">
  <!--img src="/w3images/team2.jpg" alt="John" style="width:100%"--><br>
  <h1>{{ teacher }}</h1>

  <p class="title">{{teacher.t_school_name}}</p>
  <p>{{ teacher.t_email}}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <div>
	  <button type="button" class="modalLoginForm btn btn-sm" style=" width:100%;"
                                   data-id1="{{teacher}}" data-id2="{{teacher.t_school_name}}" data-id3="{{teacher.t_email}}" data-toggle="modal"
                                   data-target="#modalLoginForm">Edit</button>

</div>
</div>
<br><br>
<br><br><br>

<div style="text-align: center;">
<a href="{% url 'recognition:view_student' %}">
<button style="background-color:#5680e9;color:white;width:20%;">EDIT  STUDENT DETAILS</button></a>  &nbsp; &nbsp; &nbsp; &nbsp;
<a href="{% url 'recognition:qs' %}"><button style="background-color:#5680e9;color:white; width:20%;" >QUESTION SERIES </button></a>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'recognition:login' %}"> <button style="background-color:#5680e9;color:white;width:20%;">LOGOUT</button></a>
</div>
<br>
<br><br><br>
<footer>
		<hr>
		<p>
			<b>Contact Information</b>
			<table cellspacing="10px">
				<tr>
					<td><img src="{% static 'images/phone.png' %}" class='headfoot'></td>
					<td>+91 9876543210</td>
				</tr>
				<tr>
					<td><img src="{% static 'images/email.png' %}" class="headfoot"></td>
					<td>queries@digival.com</td>
				</tr>
			</table>

			<p style="background-color: black; color: white;" align="center">
				&copy Copyright All Rights Reserved | Designed By Digival
			</p>
		</p>
	</footer>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content ">
         <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Edit Your details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form method="post" enctype="multipart/form-data" action="">
               {% csrf_token %}
         <div class="modal-body mx-3">
            <div class="md-form mb-5">
               <label data-error="wrong" data-success="right" for="t_name">Name</label>
               <input type="text" name="t_name" id="t_name" class="form-control validate" >
            </div>
            <div class="md-form mb-5">
               <label data-error="wrong" data-success="right" for="t_school_name">School Name</label>
               <input type="text" name="t_school_name" id="t_school_name" class="form-control validate" >
            </div>
            <div class="md-form mb-5">
               <label data-error="wrong" data-success="right" for="t_email">E-mail</label>
				<input type="text" name="t_email" id="t_email" class="form-control validate" readonly>
            </div>

         <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default btn-success" style="background-color:#5680e9;color:white;" onclick="location.reload();" >Save</button>
         </div>
		 </div>
         </form>
      </div>
   </div>
</div>

</body>
</html>