.card {

  margin : 0 auto;
  padding: 20px 30px 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width : 350px;

  margin-top: 30px;

  font-family: arial;
  background-color: white;
 align-items: center;


}

.card2 {

  margin : 0 auto;
  padding: 20px 30px 20px 30px;
  border-radius: 15px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width : 950px;
  cursor: pointer;
  margin-top: 30px;

  font-family: arial;
  background-color: #4c82a4;
 align-items: center;


}
tbody, th{
    background-color: white;
}
.container1{
    margin: 75px;
}
#btn1{
    margin-left: 300px;
}

#btn2{
    margin-left:100px;
}
label{
   padding: 10px 10px 5px 0px;
   margin: 5px 5px 5px 0px;
}
#qmark{
    height: 18px;
    width: 18px;
    position: relative;
}
#showOnHover{
    display: none;

}
#qmark:hover + #showOnHover{
    display: block;

    color: white;
    left: 150;
    top: 150;
  width: 180px;
  background-color:black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
input[type=submit]{
  background-color:#5680e9;
  border-radius: 1px;
  font-size: 15;
  width:100px;
  margin-top: 30px;
  margin-left: 95px;
  padding: 10px;
  cursor:pointer;
}
#backBtn{
  background-color:#5680e9;
  border-radius: 1px;
  font-size: 15;
  width:100px;
  padding: 10px;
  cursor:pointer;
}

.selectpicker{
    margin-left:30px;
}
