header {
    background-color:#2a1b3d;
    font-family: Georgia;
    color: #e4eddb;
    text-shadow: 3px 5px 5px #1e3e03e6;;
}
.h
{
	margin-left: 10pt;
}
.headfoot
{
	width: 20pt;
	height: 20pt;
}
footer{
width: 100%;
background-color: #aaabb8;
position: relative;
margin-top: auto;
}

#user
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#logout {
    cursor: pointer;
}

