/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
body{
  background-repeat: no-repeat;
  background-size: cover;
	}




/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.container-table100 {
  width: 100%;
  min-height: 100vh;
  margin-top: 40px;
  align-items: center;
  justify-content: center;

}
.container{
   margin : 0 auto;
}

.card {

  margin : 0 auto;
  padding: 50px 40px 50px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width : 350px;

  margin-top: 30px;

  font-family: arial;
  background-color: white;
 align-items: center;


}
.limiter {
  width: 800px;
  margin: 0 auto;
}

h1{
 color: white;
 text-align:center;
}
label{
   padding: 10px 10px 5px 0px;
   margin: 5px 5px 5px 0px;
}
select .dropdown-toggle{
    width: 250px;

}
#qp-view{
    display: block;
    margin: 30px 0px 30px 200px;
    width: 50%;

    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
input[type=submit]{
  background-color:black;
  color: white;
  outline-color:black;
  width:150px;
  margin-top: 10px;
 margin-left: 40px;
  padding: 15px;
  cursor:pointer;
}
#backBtn{
  background-color:black;
  color: white;
  outline-color:black;
  width:150px;

  padding: 15px;
  cursor:pointer;
}
select{
   display : inline;
   margin : 24px 0;
   position : absolute;
   min-width : 175px;
 }
 p{
 	font-size : 20px;
 	font-weight: bold;
 	color : maroon;
 	position : relative;
 }

.wrap-table100 {
  width: 770px;
}

#tbl {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
 }

#tbl td, #tbl th {
  padding-left: 8px;
}
#tbl thead tr {
  height: 60px;
  background: #36304a;
}
#tbl tbody tr {
  height: 50px;
}
#tbl tbody tr:last-child {
  border: 0;
}
#tbl td, #tbl th {
  text-align: left;
}
#tbl td.l, #tbl th.l {
  text-align: right;
}
#tbl td.c, #tbl th.c {
  text-align: center;
}
#tbl td.r, #tbl th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 60px;
  padding-left: 70px;
}

.column2 {
  width: 60px;
}

.column3 {
  width: 60px;
   padding-right: 20px;
}

.column4 {
  width: 60px;
}
.column5 {
  width: 60px;
}
.column6 {
  width: 60px;
    padding-right:40px;
}

@media screen and (max-width: 992px) {
  #tbl {
    display: block;
  }
  #tbl > *, #tbl tr, #tbl td, #tbl th {
    display: block;
  }
  #tbl thead {
    display: none;
  }
  #tbl tbody tr {
    height: auto;
    padding: 37px 0;
  }
  #tbl tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  #tbl tbody tr td:last-child {
    margin-bottom: 0;
  }
  #tbl tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #000000;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    left: 30px;
    top: 0;
  }




  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
